.calendar{
    height: .25rem;
    border-radius: .03rem;
    vertical-align: top;
    margin-top: .1rem;
}
.calendarImg{
    height:.22rem;
    position: absolute;
}
.calendarWindow{
    width: 252px;
    box-shadow: -3px 15px 15px rgba(0,0,0,0.5);
    padding: 7px;
    border: solid #bfbfbf 1px;
    border-radius: 3px;
    position: absolute;
    position: absolute;
}
.calendarWindow::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -6px;
    left: 6px;
    transform: rotate(45deg);
    border-top: solid #bfbfbf 1px;
    border-left: solid #bfbfbf 1px;
    border-radius: 2px;
    background-color: #fff;
}
.calendarWindow>div{
    width: 100%;
    height: 100%;
    border: solid #bfbfbf 1px;
    border-radius: 3px;
}
.calendarWindow>div>.leader{
    height: 30px;
    width: 100%;
}
.calendarWindow>div>.leader>.left{
    background-image: url(left.png);
    height: 100%;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
}
.calendarWindow>div>.leader>.right{
    background-image: url(right.png);
    height: 100%;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
}
.calendarWindow>div>.leader>.timer{
    display: inline-block;
    width: 154px;
    vertical-align: top;
    height: 100%;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.calendarWindow>div>.main{
    width: 100%;
    height: calc(100% - 30px);
    padding: 0 15px 8px 15px;
}.calendarWindow>div>.main>div{
    width: 29px;
    height: 29px;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    border-radius: 3px;
}
.calendarWindow>div>.main>div.weekItem{
    color: #777;
}
.calendarWindow>div>.main>div.unOptionItem{
    color: #aaa;
}
.calendarWindow>div>.main>div.optionItem{
    color: #333;
    cursor: pointer;
}
.calendarWindow>div>.main>div.optionItem:hover{
    color: #fff;
    background-color: #8b94f7;
}
.calendarWindow>div>.main>div.optionItem.monthItem,
.calendarWindow>div>.main>div.optionItem.yearItem{
    width: 68px;
}
.calendarWindow>div>.main>div.optionItem.yearItem:first-child,
.calendarWindow>div>.main>div.optionItem.yearItem:last-child{
    color: #aaa;
    cursor: default;
}
.calendarWindow>div>.main>div.optionItem.yearItem:first-child:hover,
.calendarWindow>div>.main>div.optionItem.yearItem:last-child:hover{
    color: #aaa;
    background-color: #fff;
}